<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelors of Science in Business Marketing</h1>
            <span>University of Tennessee</span>
            <span><address>Chattanooga, TN</address><time>2005 to 2010</time></span>
        </header>
        <p>
            <em>Noteable Project:</em> Working in class project to help with marketing strategy for <a href="http://litespeed.com/">Litespeed Cycles</a>.
        </p>
        <p>
            <em>Other Activites:</em> Participated in National Student Exchange and attended Northeastern Illinois University in Chicago studying international marketing.
        </p>
    </article>
</section>
