<section>
    <h1>Education & Certifications</h1>
    <article>

        <section class="header-info">
            <div class="left-head">
                <h1>Amazon Web Services</h1>
                <span>AWS Certified Solution Architect Associate</span>
            </div>
            <div class="right-head">
                <time>Fall 2019</time>
                <address>Atlanta, GA</address>
            </div>
        </section>

        <section class="header-info">
            <div class="left-head">
                <h1>Codecademy</h1>
                <span>Full Stack Engineering</span>
            </div>
            <div class="right-head">
                <time>Summer 2017</time>
                <address>New York, NY</address>
            </div>
        </section>

        <section class="header-info">
            <div class="left-head">
                <h1>University of Tennessee at Chattanooga</h1>
                <span>Bachelors of Science in Marketing &amp; Entrepenuership</span>
            </div>
            <div class="right-head">
                <time>Fall 2005 to Spring 2010</time>
                <address>Chattanooga, TN</address>
            </div>
        </section>

    </article>
</section>
