<section>
    <h1>Employment</h1>
    <article>
        <section class="header-info">
            <div class="left-head">
                <h1>Accenture</h1>
                <span>Team Lead Software Engineer</span>
            </div>
            <div class="right-head">
                <time>July 2019 - Present</time>
                <address>Atlanta, GA</address>
            </div>
        </section>
        <ul>
            <li>Accenture is a leading global technology services firm. The company clients include over 80% of the Global Fortune 500 companies. Headquartered in Dublin, Ireland with offices all over the globe.</li>
            <li>As Senior Full Stack, I headed our delivery pods for the North America innovation group collaborating with key clients, stakeholders, developers, and designers.</li>
            <ul>
                <li>Coordinating product delivery for Cloud Innovation practice leveraging AWS, Azure, and GCP for clients in a variety of industries including Consumer Goods & Services, Hospitality, Media, Telecommunications, Finance, Non-Profit, and Education.</li>
                <li>Leading efforts in hiring, onboarding and recruitment for the firm both remote and at college campuses</li>
                <li>Mentored and guided other developers on best development practice and in daily code reviews.</li>
            </ul>
        </ul>
        <p><strong>Technologies used: </strong>AWS Cloud, Azure Cloud, Google Cloud, React, Angular, Spring Boot, Java, PHP, NodeJS, Ruby on Rails, Javascript, HTML, CSS, XML, JSON, LDAP, JWT</p>
    </article>

    <article>
        <section class="header-info">
            <div class="left-head">
                <h1>RHI Creative Group</h1>
                <span>Software Engineering Consultant</span>
            </div>
            <div class="right-head">
                <time>Jan 2018 – July 2019</time>
                <address>Atlanta, GA</address>
            </div>
        </section>
        <ul>
            <li>Robert Half International is an IT Staffing Firm working nationally with many medium to large enterprises.</li>
            <li>As a technology consultant I would work with clients both onsite and remote to execute delivery of software development services across media agencies in the Atlanta area.</li>
        </ul>
        <p><strong>Technologies used: </strong>PHP, Wordpress, Ruby on Rails, React, HTML, JS, CSS, Java, SAP, Bootstrap, Handlebars, NodeJS</p>
    </article>

    <article>
        <section class="header-info">
            <div class="left-head">
                <h1>Codecademy</h1>
                <span>Lead Advisor (Remote)</span>
            </div>
            <div class="right-head">
                <time>August 2015 – July 2019</time>
                <address>New York, NY</address>
            </div>
        </section>
        <ul>
            <li>Codecademy is an online interactive platform that offers free coding classes in more than 12 different programming languages.</li>
            <li>As a lead advisor, I was responsible for staying up to date with all content releases and content development. In addition to supporting over 10,000 learners in one to one mentoring sessions, code review, and debugging.</li>
            <p><strong>Technologies used: </strong>Javascript, React, Angular, AngularJS, Ruby, Ruby on Rails, SQL, PHP, noSQL, NodeJS, Python, Numpy, pandas, d3, data viz, data science</p>
        </ul>
    </article>

    <article>
        <section class="header-info">
            <div class="left-head">
                <h1>Undaground, LLC</h1>
                <span>Founding Technology Architect</span>
            </div>
            <div class="right-head">
                <time>Dec 2015 - November 2017</time>
                <address>Chattanooga, TN</address>
            </div>
        </section>
        <ul>
            <li>Undaground was media company that provides an app as a platform for local communities to broadcast their content through a live and on-demand local podcast directory.</li>
            <li>As the founding engineer I acted as the lead, CTO, developer, and business driver.</li>
            <li>I helped the organization keep momentum through local business accelerators.</li>
            <p><strong>Technologies used: </strong>Javascript, Ionic, Java, iOS, Swift, NodeJS, Rails, GoLang, AWS, Server Administration, Android Studio, Xcode, RTMP, Streaming, Ethereum, Blockchain</p>
            <br>
            <strong>Accolades:</strong>
            <br><a href="https://launchchattanooga.org/blog/these-three-business-ventures-ideas-won-tonights-local-startup-contest-2016-9-6/">Best Overall Business Idea & People's Choice - Will This Float? Music Edition - Dec '15</a>
            <br><a href="http://www.timesfreepress.com/news/business/aroundregion/story/2016/may/20/budding-entrepreneurs-turn-angst-business-ide/366592/">Co.Lab Accelerator Spring '15 Alumni</a>
        </ul>
    </article>
    <article>
        <section class="header-info">
            <div class="left-head">
                <h1>Apple, Inc.</h1>
                <span>MacOS & iOS Engineering Liaison (Remote)</span>
            </div>
            <div class="right-head">
                <address>Austin, TX</address>
                <time>July 2012 - May 2015</time>
            </div>
        </section>
        <ul>
            <li>Apple, Inc is a technology company that specializes in consumer electronics, software, and online services 
            </li>
            <li>As a lead supervisor for AppleCare support I reported remote to AppleCare engineering and I was responsible for diagnosis, reporting, and documentation of software bugs and defects, safety issues, and Accessibility support for iPhone, iPad, Mac, OS X and iOS users which involved using bash and command shell tools.</li>
        </ul>
        <p><strong>Technologies used</strong>: OSX, Windows, Powershell, Terminal, Shell Scripting, iOS, xCode, iOS Developer Program, VNC
        </article></p>
    <article>
        <section class="header-info">
            <div class="left-head">
                <h1>Technology Consultant</h1>
                <span>Contractor</span>
            </div>
            <div class="right-head">
                <span>
                    <address>Chattanooga, TN</address>
                    <time>2008 to 2019</time>
                </span>
            </div>
        </section>
        <ul> 
            <li>As a Technology Consultant, I helped design websites, digital ad campaigns, and content for different companies and groups around the country from small to medium sized businesses.</li>
        </ul>
        <p><strong>Technologies used</strong>: PHP, Wordpress, Builder.io, Svelte, React, NodeJS, Rust, Python, Flask, Swift, React Native, Ionic, iOS, Android
    </article>

</section>
