<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Founder / President / CTO</h1>
            <span><address>undaground, LLC - Chattanooga, TN</address><time>Dec 2015 to Present</time></span>
        </header>
        <p>Founded a new media company that provides an app as a platform for local communities to broadcast their content through a live and on-demand podcast directory. Currently heading development and running beta test in Chattanooga Market.
            <br>
            <br> <em>Accolades:</em>
            <br><a href="http://nooga.com/171887/the-will-this-float-winners-are/">Best Overall Business Idea & People's Choice - Will This Float? Music Edition - Dec '15</a>
            <br><a href="http://www.timesfreepress.com/news/business/aroundregion/story/2016/may/20/budding-entrepreneurs-turn-angst-business-ide/366592/">Co.Lab Accelerator Spring '15 Alumni</a></p>
        </p>
    </article>
    <article>
        <header>
            <h1>Codecademy Pro Advisor</h1>
            <span><address>Codecademy - New York City (Remote)</address><time>Sept '15 to Present</time></span>
        </header>
        <p>Live online tutoring role that involves providing learner support for coding e-learning platform. Job included chatting with students, defining student goals, reviewing coding topics, helping students debug code, and motivating learners. Courses
            include: HTML/CSS, Bootstrap, Javascript, JQuery, Java, Ruby, Rails, Python, AngularJS, SQL, Git, CLI, and PHP.</p>
    </article>
    <article>
        <header>
            <h1>AppleCare T2 Senior Advisor</h1>
            <span><address>Apple, Inc, - Cupertino, CA (Remote)</address><time>July 2012 to May 2015</time></span>
        </header>
        <p>Technical role supporting Apple employees, customers, and service partners. Took incoming calls and esclations helping Apple, Inc provide world class service. Empowered by management to make customer support decisions over the phone on iOS platform,
            OS X, and Windows users using Apple products.
            <br>
            <br> <em>Accolades:</em>
            <br>Promoted within 6 months of hire
            <br>Top of the team for Customer Satisifcation</p>

    </article>
    <article>
        <header>
            <h1>Web Technologies Consultant</h1>
            <span><address>Chattanooga, TN (Freelance)</address><time>2008 to Present</time></span>
        </header>
        <p> As an independent contractor I helped design websites, digital ad campaigns, and content for different companies and groups around the country. Mostly related to music and live event industry.
            <br />
            <br /><em>Works:</em> <a href="http://polar-harbor-94853.herokuapp.com">Full Portfolio</a>, <a href="http://flyfreefest.com" target="_blank">flyfreefest.com</a>, <a href="http://octalsound.com" target="_blank">octalsound.com</a>, <a href="http://thissongissick.com" target="_blank">thissongissick.com</a>, <a href="http://marchonemusic.com"
                target="_blank">marchonemusic.com</a>, <a href="http://lakecove.com" target="_blank">lakecove.com</a>, <a href="http://immixmusic.com" target="_blank">immixmusic.com</a>, <a href="http://herobust.com" target="_blank">herobust.com</a>, <a href="http://heathwillshomes.com"
                target="_blank">heathwillshomes.com</a> and more!!!
        </p>
    </article>

</section>
