<section>
    <h1>Initiatives</h1>
    <article>
        <section class="header-info">
            <div class="left-head">
                <h1>Metro Atlanta First Tee</h1>
                <span>Technologist for PGA Golf Tour Visits</span>
            </div>
            <div class="right-head">
                <time>2022</time>
                <address>Atlanta, GA</address>
            </div>
        </section>
        <section class="header-info">
            <div class="left-head">
                <h1>Sky's The Limit</h1>
                <span>Mentor for Underprivileged Startup Founders</span>
            </div>
            <div class="right-head">
                <time>2020 - 2021</time>
                <address>Atlanta, GA</address>
            </div>
        </section>
        <section class="header-info">
            <div class="left-head">
                <h1>Hour of Code</h1>
                <span>Coding Instructor @ Public Library</span>
            </div>
            <div class="right-head">
                <time>Summer 2017</time>
                <address>Chattanooga, TN</address>
            </div>
        </section>
    </article>
</section>
