<section>
    <h1>Software Skills</h1>
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i> &nbsp;&nbsp;
           <em>NodeJS</em>, <em>Angular</em>, <em>HTML/CSS</em>, <em>JS</em>,<em>SASS</em>, <em>Git</em>, <em>JQuery</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i> &nbsp;&nbsp;
            <em>React</em>, <em>Ruby</em>, <em>Rails</em>, <em>PHP</em>, <em>SQL</em>, <em>Postgres</em>, <em>NoSQL</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i> &nbsp;&nbsp;
            <em>Ionic/Cordova</em>, <em>Java</em>, <em>Linux OS</em>, <em>AmazonAWS</em>, <em>GoogleCloud</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i> &nbsp;&nbsp;
            <em>Python</em>, <em>Flask</em>, <em>OpenAI API</em>, <em>Stable Diffusion</em>, <em>Ganache</em>, <em>Ethereum</em>, <em>Blockchain</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i> &nbsp;&nbsp;
            <em>GoLang</em>, <em>Solana</em>, <em>Blender</em>, <em>Unreal</em>, <em>Unity</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i> &nbsp;&nbsp;
            <em>Rust</em>, <em>Kotlin</em>, <em>OCaml</em>, <em>Elixir</em>, <em>Clojure</em>, <em>R</em>
        </p>
    </article>
    <h1>Hackathons &amp; Conferences</h1>
    <article>
        <section class="header-info">
            <div class="left-head">
                <h1>DestinoHack 2018</h1>
                <span>Team Advisor - Hackathon Teams</span>
            </div>
            <div class="right-head">
                <time>Fall 2018</time>
                <address>San Juan, PR</address>
            </div>
        </section>
        <section class="header-info">
            <div class="left-head">
                <h1>Blockchain for Good Summit at United Nation</h1>
                <span>Acting CTO - Social Impact Startup</span>
            </div>
            <div class="right-head">
                <time>Summer 2018</time>
                <address>New York, NY</address>
            </div>
        </section>
        <section class="header-info">
            <div class="left-head">
                <h1>Blockchain Conference Tokyo 2017</h1>
                <span>Acting CTO - Social Impact Startup</span>
            </div>
            <div class="right-head">
                <time>Fall 2017</time>
                <address>Tokyo, Japan</address>
            </div>
        </section>
        <section class="header-info">
            <div class="left-head">
                <h1>Hackanooga 2012 presented by Mozilla &amp; U.S. Ignite</h1>
                <span>Engineering Advisor for Proximity One (WTCI-PBS reverse pitch) </span>
            </div>
            <div class="right-head">
                <time>Summer 2012</time>
                <address>Chattanooga, TN</address>
            </div>
        </section>
    </article>
    <h1>Langague Skills</h1>
    <article>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i> &nbsp;&nbsp;
            <em>English</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i> &nbsp;&nbsp;
            <em>Spanish</em>
        </p>
    </article>
</section>
