<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i> &nbsp;&nbsp;
            <em>HTML/CSS</em>, <em>JS</em>, <em>Bootstrap</em>, <em>SASS</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i> &nbsp;&nbsp;
            <em>Angular</em>, <em>NodeJS</em>, <em>Git</em>, <em>Ionic/Cordova</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i> &nbsp;&nbsp;
            <em>JQuery</em>, <em>Ruby</em>, <em>Rails</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i> &nbsp;&nbsp;
            <em>PHP</em>, <em>Linux OS</em>, <em>AmazonAWS</em>, <em>GoogleCloud</em>, <em>SQL</em>, <em>Postgres</em>, <em>NoSQL</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i> &nbsp;&nbsp;
            <em>GoLang</em>, <em>Python</em>, <em>ReactJS</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i> &nbsp;&nbsp;
            <em>Java</em>
        </p>
    </article>
    <h1>Hackathons</h1>
    <article>
      <header>
        <h1>Hackanooga 2012 presented by Mozilla / U.S. Ignite</h1>
        <span><address>Most Innovative Idea--Proximity One</address><time>Summer 2012</time></span>
      </header>
      <p>Worked with local PBS station--WTCI along with local develpers on an open source platform to be uses for sourcing local video content. Helped on advisement and UI research.</p>
    </article>
    <h1>Langague Skills</h1>
    <article>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i> &nbsp;&nbsp;
            <em>English</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i> &nbsp;&nbsp;
            <em>Spanish</em>
        </p>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i> &nbsp;&nbsp;
            <em>French</em> and <em>Italian</em>
        </p>
    </article>
</section>
